body {
	background-color: #EBEDE6;
}


/*
**HEADER**
*/


.nav-logo {
	margin-right: 15px;
}

.nav-text {
	font-size: 30px;
}

.nav-link {
	margin: 0 15px;
	padding: 10px 15px !important;
	color: #0d6efd !important;
	text-decoration: none;
	border: 0;
    border-radius: 10px;
}

.nav-link:hover,
.nav-link.active {
	color: #fff !important;
	background-color: #0d6efd;
}

.nav-link:hover {
	transition: background-color 1s ease-out,
				color 0.3s ease-out;
}


/*
**SLIDER**
*/


.carousel-inner {
	border: 10px solid #fff;
	border-radius: 10px;
}


/*
**Для адаптивности**
*/


@media (max-width: 1400px) {

	.nav-text {
		font-size: 20px;
	}

	.nav-link {
		margin: 0 5px;
	}

	.navbar-brand {
		margin-bottom: 10px;
	}

}

@media (max-width: 991px) {

	.navbar-brand {
		margin-bottom: 0;
	}

}
