html,
body {
	height: 100%;
}

body {
	background-color: #EBEDE6;
}

.wrapper {
	display: flex;
	flex-direction: column !important;
	min-height: 100%;
}

main {
	flex: 1 0 auto;
}

/*
**HEADER**
*/


.nav-logo {
	margin-right: 15px;
}

.nav-text {
	font-size: 30px;
}

.nav-link {
	margin: 0 15px;
	padding: 10px 15px !important;
	color: #0d6efd !important;
	text-decoration: none;
	border: 0;
    border-radius: 10px;
}

.nav-link:hover,
.nav-link.active {
	color: #fff !important;
	background-color: #0d6efd;
}

.nav-link:hover {
	transition: background-color 1s ease-out,
				color 0.3s ease-out;
}


/*
**SLIDER**
*/

.carousel {
	margin-bottom: 24px;
}

.carousel-inner {
	border: 10px solid #fff;
	border-radius: 10px;
}

.main-row {
	margin: 0;
}

.block {
	margin-bottom: 24px;
	text-align: justify;
	background-color: #fff;
	padding: 20px;
	border: 10px solid #fff;
	border-radius: 10px;
}

.block_1 {
	margin-right: 8px;
	width: 40rem;
}

.block_2 {
	margin-left: 8px;
	width: 40rem;
}

/*
**PORTFOLIO**
*/


.portfolio {
	display: flex;
	flex-direction: column;
}

.photo {
	float: right;
	text-align: center;
	padding: 0 0 10px 20px;
}

.description-label {
	font-weight: bold;
}


/*
**BLOG**
*/


.blog {

}


.blog_img {
	float: left;
	margin-right: 15px;
	width: 500px;
}


/*
**STUDENTS**
*/

.students-item {
	margin-top: 5px;
}


/*
**VISITOR**
*/


.visitor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.visitor-container {
	display: flex;
	flex-direction: column;
}

.visitor-container textarea {
	margin-bottom: 16px;
}


/*
**FOOTER**
*/


footer {
	margin-top: 24px;
	background-color: #000;
	padding: 10px;
	text-align: center;
	font-size: 15px;
    color: #fff;
    flex: 0 0 auto;
}


/*
**Для адаптивности**
*/


@media (max-width: 1400px) {

	.nav-text {
		font-size: 20px;
	}

	.nav-link {
		margin: 0 5px;
	}

	.navbar-brand {
		margin-bottom: 10px;
	}

	.block_1 {
		width: 100%;
		margin-right: 0;
	}

	.block_2 {
		width: 100%;
		margin-left: 0;
	}

}

@media (max-width: 991px) {

	.navbar-brand {
		margin-bottom: 0;
	}

	.blog_img {
		text-align: center;
		width: 300px;
	}

}

@media (max-width: 768px) {

	.photo {
		float: none;
		text-align: center !important;
	}

	.portfolio {
		align-items: center;
		text-align: center;
	}

	.description-entry {
		text-align: left;
	}

}
